body {
    background-color: #a9a9a9;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
main {
    background-color: #c1f2fd;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1px;
    border-radius: 5px;
}

header {
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 8px;
}

section, nav, div img#biggerImg {
    background-color: rgb(255, 255, 235);
    margin: 1em;
    padding: 2px;
    border-radius: 5px;
}

div img#biggerImg {
    padding: 5px;
   
}

div img#biggerImg, #bigImg {
    cursor: pointer;
}

 h2 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

#galleryList, #galleryList ul li {
    background-color: #46ACC2;
    font-family: sans-serif;
    color:black;
    overflow: hidden;
    line-height: 2rem;
    display: block;
}  

#galleryList, #galleryList ul li {
    grid-column: 1/2;
    grid-row: 1/3;
}  

#loader {
    display: none;
    width: 100%;
}

#galleryInfo {
    grid-column: 2/3;
    height: 610px;
    line-height: 30px;
    padding: 0px 40px;
}
#map {
    margin: 1em;
    grid-column: 2/5;
    grid-row: 2/3;
}

#paintingsList {
    padding-top: 0px;
    height: 610px;
    overflow: auto
}

#galleries {
    list-style-type: none;
    margin-right: 10%;
    
}

#galleries:hover {
    cursor: pointer;
}

#galleries li:hover {
    padding-left: 10px;
    background-color: rgb(255, 254, 212);
}

#website {
    border: 1px lightblue solid;
    background-color: #CAEBF2;
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 1px;
    color: black;
}

a {
    text-decoration: none;
    
}

a:link:visited {
    text-decoration: none;
    color: black;
}
}

#galleryList, #galleryList ul li {
    background-color: #46ACC2;
    font-family: sans-serif;
    color:black;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/3;
    line-height: 2rem;
    display: block;
}   
#table {
    width: 100%;
    padding: 5px;
}

#table img:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

#closeButton:hover{
    cursor: pointer;
}

#clickTitle:hover {
    cursor: pointer;
}
section {
    border-radius: 5px;
}
section li:hover, th {
    cursor: pointer;
}
main {
    border-style: groove;
}

@media only screen and (max-width: 768px) {
    main {
        background-color: #ffffff;
        border-radius: 5px;
    }

    section {
        background-color: #f1787aa6;
        margin: 5px;
    }

    #topnav ul {
        align-content: space-evenly;
        padding: 2px;
        display: block;
    }
    #galleryList {
        padding: 20px;
        display: block;
    }
    #galleryInfo {
        padding: 20px;
        display: block;
    }
    #paintingsList {
        padding: 20px;
        display: block;
        overflow: auto
    }
    #map {
        padding: 500px 300px;
        display: block;
        border-radius: 20px;
        border-style: dotted;
        margin: 10px;
    }
    #clickTitle:hover {
        cursor: pointer;
    }
}

