
  /* Style navigation menu links */
  .topnav {
    background-color: rgb(175, 160, 74);
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    border-style: groove;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .topnav li {
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px
  }
  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .topnav li a {
    margin-right: 10px;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  #logo {
    height: 50px;
    width: 70px;
    margin:10px;
    display: inline;
  }
  
  /* Style the hamburger menu */
  .topnav li.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav li:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
  }
  
  /* Style the active link */
  .active {
    background-color: #ac7e00;
    color: white;
  }
  .hamIcon {
    display: hidden;
    background: transparent;
    color-adjust: white;
    width: 50px;
    height: 50px;
  }
  .hamIcon:hover {
    cursor: pointer;
  }
  /* media screen and hamburger menu */
  @media screen and (max-width:768px) {
    .links {
      display: none;
      text-align: center;
    }
    .toggleLinks {
      display: block;
      position: relative;
      top: 80px;
    }
    .small {
      height: 10vh;
    }
    .expanded {
      height: 45vh;
    }
    #logo {
      float: left;
    }
    .hamIcon {
      float: right;
    }
    .topnav ul {
      position: absolute;
    }
    .topnav li {
      text-decoration: none;
      font-size: 12px;
      display: block;
      list-style: none;
      margin: 1px;
      font-weight: bold;
    }
  }

  @media screen and (min-width:768px) {
    #hamIcon {
      display: none;
    }
    .links {
      display: initial;
    }
  }
  